{% extends "home.html" %}
{% load i18n %}
{% load static %}
{% block title %}Calendar{% endblock %}
{% block content %}
  <head>
    <!-- fullCalendar -->
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar-interaction/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar-daygrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar-timegrid/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fullcalendar-bootstrap/main.min.css' %}">
  </head>
  <!-- Content Header (Page header) -->
  <section class="content-header" style="padding-top: 10px!important; padding-bottom: 5px!important;">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Calendar</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Calendar</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="sticky-top mb-3">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Draggable Events</h4>
              </div>
              <div class="card-body">
                <form id="addEventForm">
                  <div class="form-group">
                    <input class="form-control" name="title" type="text" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="start_time" type="text" placeholder="Start time">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="end_time" type="text" placeholder="End time">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="background" type="color" value="#99ff00">
                  </div>
                  <div class="form-group">
                    <input class="form-control btn btn-primary" onclick="addEvent()" type="button" value="ADD">
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary">
            <div class="card-body p-0">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock %}
{% block js %}
  {{ block.super }}
  <!-- fullCalendar 2.2.5 -->
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar/main.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-daygrid/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-timegrid/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-interaction/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar-bootstrap/main.min.js' %}"></script>
  <script src="{% static 'plugins/fullcalendar/locales/ru.js' %}"></script>
  <script src="{% static 'util.js' %}"></script>
  <!-- Page specific script -->
  <script>

    $(function () {
      /* initialize the calendar
       -----------------------------------------------------------------*/
      //Date for the calendar events (dummy data)
      var date = new Date()
      var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear()

      var Calendar = FullCalendar.Calendar;
      var Draggable = FullCalendarInteraction.Draggable;

      var containerEl = document.getElementById('external-events');
      var checkbox = document.getElementById('drop-remove');
      var calendarEl = document.getElementById('calendar');

      // initialize the external events
      // -----------------------------------------------------------------


      var calendar = new Calendar(calendarEl, {
        plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        locale: 'ru',
        eventTimeFormat: {
          hour: '2-digit',
          minute: '2-digit',
          hour12: false
        },
        scrollTime: '08:00:00',
        aspectRatio: 2.2,
        events: '/api/event',
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar !!!
        drop: function (info) {
          // is the "remove after drop" checkbox checked?
          if (checkbox.checked) {
            // if so, remove the element from the "Draggable Events" list
            info.draggedEl.parentNode.removeChild(info.draggedEl);
          }
        }
      });

      calendar.render();
      // $('#calendar').fullCalendar()

      /* ADDING EVENTS */
      var currColor = '#3c8dbc' //Red by default
      //Color chooser button
      var colorChooser = $('#color-chooser-btn')
      $('#color-chooser > li > a').click(function (e) {
        e.preventDefault();
        //Save color
        currColor = $(this).css('color');
        //Add color effect to button
        $('#add-new-event').css({
          'background-color': currColor,
          'border-color': currColor
        })
      })
      $('#add-new-event').click(function (e) {
        e.preventDefault();
        //Get value and make sure it is not null
        var val = $('#new-event').val();
        if (val.length == 0) {
          return
        }

        //Create events
        var event = $('<div />');
        event.css({
          'background-color': currColor,
          'border-color': currColor,
          'color': '#fff'
        }).addClass('external-event');
        event.html(val)
        $('#external-events').prepend(event);

        //Add draggable funtionality
        ini_events(event)

        //Remove event from text input
        $('#new-event').val('');
      });

      function addEvent() {
      let formData = $("#addEventForm").serialize();
      console.log(formData);
      $.ajax({
        type: "POST",
        url: "{% url 'add_event' %}",
        headers: {'X-CSRFToken': getCookie('csrftoken')},
        data: formData,
        success: function (response) {
          if (response.success){
            calendar.render();
          } else {
            alert('Error: ' + response.error_msg);
          };
        }
      });
    }

    });




  </script>
{% endblock %}
